<h2>Welcome to all that dare...Fate awaits those champions that choose to participate</h2>
<%= link_to "Character List", characters_path %>
|
<%= link_to 'Create a new character...if you dare', new_character_path %>

<hr>